*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button-style($bg-color){
    padding: 20px 30px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    background-color: $bg-color;
    color: white;
    cursor: pointer;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    
    @include flexCenter();

    section{
    height: 50%;
    width: 50%;
    background-color:wheat;
    @include flexCenter();

        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-color: whitesmoke;
        }

        #blue{
            @include button-style(blue);
        }

        #red{
            @include button-style(red);
        }

    }

}

