*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    
    
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: rgba(43, 194, 194, 0.844); */
    padding: 30px;
}

.card{
    height: 300px;
    width: 350px;
    border-radius: 10px;
    position: relative;
    /* background-color: blue; */
    overflow: hidden;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom{
    position: absolute;
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, black);
    bottom: -40%;
    transition: all ease 0.3s;
}

.card:hover .bottom{
    bottom: 0;
}