*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(43, 194, 194, 0.844);
    
}
body{
    padding: 20px;
}

.card{
    height: 300px;
    width: 350px;
    border-radius: 10px;
    /* overflow: hidden; */
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.bottom{
    height: 40%;
    width: 100%;
    background-color: red;
}