*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @font-face {
        font-family: Helvetica;
        src: url(./Helvetica Now);
    }
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
    font-family: helvetica;
}

#nav{
    padding: 10px 30px;
}

#nav a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
    color:white;
}

#main>h1{
    font-size: 350px;
    font-weight: 400;
    margin-left: 30px;
}

#btm-left{
    width: 300px;
    position: absolute;
    bottom: 20%;
    left: 3%;
    
}

#btm-left h3{
    font-size: 30px;
}

#btm-left p{
    font-size: 18px;
    margin-top: 5px;
}

#btm-left h4{
    font-size: 30px;
}

#btm-left h4{
    margin-top: 50px;
}

#bottombar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position:absolute;
    padding: 30px 54px;
    bottom: 0;
    left:0;
    /* background-color: red; */
}

#bottombar a{
    color: #fff;
    font-size: 32px;
    text-decoration: none;
}