*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    gap: 10px;
}

section{
    height: 100%;
    flex-grow: 1;
    background-color: red;
    border: 2px solid black;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
}

section:hover{
    flex-grow: 2.2;
}

section:nth-child(1){
    background-image: url(./3.jpg);
    background-size: cover;
    background-position: center;
}
section:nth-child(2){
    background-image: url(./2.jpg);
    background-size: cover;
    background-position: center;
}
section:nth-child(3){
    background-image: url(./1.jpg);
    background-size: cover;
    background-position: center;
}
section:nth-child(4){
    background-image: url(./6.jpg);
    background-size: cover;
    background-position: center;
}
section:nth-child(5){
    background-image: url(./5.jpg);
    background-size: cover;
    background-position: center;
}