*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;

    grid-template-areas: "header header header"
                         "section section section"
                         "div1 div2 div3";
}

header{
    background-color: orange;
    grid-area: header;
}

section{
    background-color: wheat;
    grid-area: section;
}

#div1{
    background-color: green;
    grid-area: div1;
}

#div2{
    background-color: rgb(0, 124, 128);
    grid-area: div2;
}

#div3{
    background-color: rgb(63, 34, 210);
    grid-area: div3;
}