*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;  
    /* background-image: url("https://plus.unsplash.com/premium_photo-1676926151519-738761791731?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-size: cover;
    background-position: center;

}


#BOX1{
    height: 500px;
    width: 500px;
    background:linear-gradient(red,black)
}

#BOX2{
    height: 500px;
    width: 500px;
    background:linear-gradient(to right,yellow,black)
}

#BOX3{
    height: 500px;
    width: 500px;
    background:linear-gradient(to left,yellow 90% ,blue )
} 

#BOX4{
    height: 500px;
    width: 500px;
    background:radial-gradient(yellow,red,black)
}

#BOX5{
    height: 500px;
    width: 500px;
    background:conic-gradient(yellow,red,black,yellow)
}


