*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

/* #car1{
    height: 100px;
    width: 100px;
    background-color: red;
}

#car2{   
    height: 200px;
    width: 200px;
    background-color: rgba(246, 255, 0, 0.921);
}

#car3{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 255, 149);
} */

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

/* #outer{
    height: 500px;
    width: 500px;
    background-color: yellow;
    border: 2px solid rgb(241, 230, 210);
}

#inner{
    position: relative;
    height: 400px;
    width: 400px;
    background-color:aqua;
    border: 2px solid rgb(241, 230, 210);
}

#test{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color:chocolate ;
    border: 2px solid rgb(241, 230, 210); 
    left:50%
} */

#homepage{
    height:3000px;
    width: 100%;
    background-color: black;
}

.slide1{
    height:1500px;
    width: 100%;
    background: linear-gradient(red,blue);
}

.slide2{
    height:1500px;
    width: 100%;
    background: linear-gradient(red,blue);
}

.box{
    position: fixed;
    height: 200px;
    width: 100px;
    right:0;
    top:50%;
    background-color: black;
    color: white;
    text-align: center;
}




